:root {
  --header-height: 80px;
}
* {
  box-sizing: border-box;  
}
html, body {
  margin: 0;
}
.appbar {
  width: 100vw;
  height: var(--header-height);
  top: 0;
  left:0;    
}
.appbar, .menu {
  background: #1B1862;
  padding: 1em;
  position: fixed;
}    
.menu {
  padding: 20px;
  top: var(--header-height);
  height: 100vh;
  width: 100vw;
  transition: all 0.3s 0.3s;
  color: #D5EDF9;
  font-size:30px;
  font-family: Avenir Next, sans-serif;
}

.menu li{
    padding: 20px;
     list-style-type: none;
}

.menu ul a{
    color: #D5EDF9;
    font-size: 50px;
}

.menu.hidden {
  transform: translateX(-100vw);
}
.menuIcon {
  height: 30px;
  margin-top: 10px;
  margin-left: 12px;
    color: #D5EDF9;
}
.menuIcon rect {
  fill: white;
  transition: all 0.6s;
}
.menuIcon rect:nth-child(1){
  transform-origin: left top;
}
.menuIcon rect:nth-child(3){
  transform-origin: left bottom;
}
.menuIcon rect.fadeOut {
  opacity: 0;
}
.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}
.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}
.image-header{
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 50px;
    width: 60%;
    height: 70%;
    background-image: url('../images/logo-light-blue.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.image-subpage-header{
   position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 60px;
    width: 60%;
    height: 70%;
    background-image: url('../images/movie-title-light.svg');
    background-repeat: no-repeat;
    background-size: contain; 
}

.search-header{
    position:absolute;
    top:0;
   right: 0;
    margin-top: 20px;
    margin-right: 25px;
    background-image: url(../images/search_icon.svg);
    width: 23%;
    height: 50%;
    background-repeat: no-repeat; 
}
.log-header{
    position:absolute;
    top:0;
    right: 0;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 20px;
    color: #D5EDF9;
    font-family: Avenir Next, sans-serif;
}
.title-web{
    margin-top: 80px;
    text-align: center;
    background-image: url(../images/movie_background_image.svg);
    background-repeat: no-repeat;
}
.title-desc{
    padding: 18px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 17px;
    font-family: Avenir Next, sans-serif;
    background-color: #D5EDF9;
    color: #1B1862;
    
}
.arrow-down{
    position: relative;
    background-image: url(/images/arrow_down_blue.svg);
    background-origin: content-box;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

h1{
    font-family: Avenir Next, sans-serif;
    color:#1B1862;
}
.readmore{
    font-family: Avenir Next bold, sans-serif;
    color: #1B1862;
}

.eventimage {
    align-content: center;
}

.price{
   font-family: Avenir Next, sans-serif;
    color: #1B1862; 
}

.movie-title{
    font-size: 40px;
    font-weight: 200;
}

.container-fluid h1{
    text-align: center;
}

.movie-event{
    font-family: Avenir Next, sans-serif;
    text-align: right;
}

article:nth-child(odd) img{
  box-shadow: -39px -21px 0px 4px rgba(27,24,98,1);
}

article:nth-child(even) img{
  box-shadow: -39px -21px 0px 4px rgba(213,237,249,1);
}

.container-fluid .price{
    text-align: right;
    margin-right: 10px;
}

.container-fluid p .readmore{
    text-align: right;
    margin-right: 10px;
    color: #1B1862; 
    font-weight: 400;
}

.movie-event h1{
    padding: 15px;
}

.movie-event img{
    display: block;
    margin-left: 20px;
}

.movie-event h2{
    display: inline-block;
    font-size: 17px;
    padding-left: 40px;
}

#singleMovie{
   font-family: Avenir Next, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#singleMovie h1{
  padding-top: 10px; 
  grid-column: 1/-1;
    font-size: 30px;
}

#singleMovie img{
    grid-column: 1/-1;
   grid-row: 2/3;
    width: 100%;    
}

#singleMovie .genre {
   grid-column: 1/2;
    grid-row: 3/4;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

#singleMovie .price{
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 18px;
    padding: 5px; 
    text-align: center;
}

#singleMovie .date{
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 18px;
    padding: 5px; 
    text-align: center;
}

#singleMovie .location{
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 18px;
    padding: 5px; 
    text-align: center;
}

#singleMovie .descript{
    grid-column: 1/-1;
    font-size: 17px;
}

@media (min-width: 1000px)  {
  #carlist {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1300px)  {
  #carlist {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
